#menu-bar a{
    text-decoration: none;
    color: rgb(14, 14, 14);
    font-weight: 800;
    font-size: 14px;
    font-family: helvetica, sans-serif;
    
    


    background-image:url('images/trimmer/menu-button.gif');
    background-repeat: no-repeat;
    display: block;
    width: 128px;
    height: 25px;
    padding-left: 40px;
    padding-top: 2px;
    background-color: rgb(112, 112, 112);
    float: left;
}

#menu-bar a:hover{
   text-align: left;
    background-image: url('images/trimmer/menu-button-hover.gif');
    color: rgb(53, 53, 53);
    
}

h1{
    color:  rgb(43, 43, 43);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    background-color: rgb(43, 43, 43);
    text-align: center;
    color: rgb(168, 168, 168);
}

h6{
    background-color: rgb(112, 112, 112);
    text-align: center;  
}

p{
    background-color: rgb(172, 172, 172);
    color:rgb(14, 14, 14);
    text-align: center;
    font-size: 150%;
}

table{
    border-collapse: collapse;
    border-color: rgb(14, 14, 14);
}

th{
    background-color: rgb(14, 14, 14);
    color: rgb(156, 156, 156);
    font-size: 1cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

td{
    background-color: rgb(32, 31, 31);
    color: rgb(230, 230, 230);
    font-size: 5.5mm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

submit-tab{
    text-decoration: none;
    color: rgb(14, 14, 14);
    font-weight: 800;
    font-size: 14px;
    font-family: helvetica, sans-serif;
}